<?xml version="1.0"?>
<configuration>
    <property>
    <name>num_reducers</name>
    <value>2</value>
    <description>Number of reducers</description>
  </property>
  <property>
    <name>dataset</name>
    <value>2</value>
    <description>Dimension of the dataset</description>
  </property>
  <property>
    <name>distance</name>
    <value>2</value>
    <description>Type of distance adopted</description>
  </property>
  <property>
    <name>k</name>
    <value>4</value>
    <description>Number of clusters</description>
  </property>
  <property>
    <name>threshold</name>
    <value>0.01</value>
    <description>Threshold for the stopping criterion</description>
  </property>
  <property>
    <name>max_iteration</name>
    <value>10</value>
    <description>Maximum iterations</description>
  </property>
</configuration>
